{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "pageedit/pageedit.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/content/change_form.css" %}">{% endblock %}

{% block footer %}
{{ block.super }}
<script type="text/javascript" src="{% static "pageedit/pageedit.js" %}"></script>
<script type="text/javascript" src="{% static "admin/content/change_form.js" %}"></script>
{% endblock %}
