{% load static %}
<div id="pickerbackground" style="display: none;"></div>
<div id="imagearea" class="edit_ui" style="display: none;" tabindex="0">
	<div></div>
	<form>
		<img />
		<div></div>
		<input type="hidden" name="src" />
		<label>Width: <input type="number" name="width" size="4" /></label>
		<label>Height: <input type="number" name="height" size="4" /></label>
		<button type="submit" disabled>Insert</button>
		<button type="reset">Cancel</button>
	</form>
</div>
<div id="linkarea" class="edit_ui" style="display: none;" tabindex="0">
	<select size="20">
	</select>
	<form>
		<label>URL:
			<input type="text" name="href" value="/" />
		</label>
		<label>Open link in:
			<select name="target">
				<option value="">same tab</option>
				<option value="_blank">new tab</option>
			</select>
		</label>
		<button type="submit" disabled>Insert</button>
		<button type="reset">Cancel</button>
	</form>
</div>
<script type="text/javascript" src="{% static 'pageedit/pageedit.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/content/edit_dialogs.js' %}"></script>
