{% load static %}
<div id="imageareabg"></div>
<div id="imagearea" class="edit_ui" tabindex="0">
	<div style="flex: 1; overflow-y: auto;"></div>
	<form>
		<img style="max-width: 150px; max-height: 120px; display: block; margin: 2px auto;" />
		<div style="font-weight: 600;margin: 5px 0;overflow: hidden;text-overflow: ellipsis;text-align: center;"></div>
		<input type="hidden" name="src" />
		<label style="display: block; margin: 2px 0;">Width: <input type="number" name="width" size="4" /></label>
		<label style="display: block; margin: 2px 0;">Height: <input type="number" name="height" size="4" /></label>
		<button type="submit" disabled>Insert</button>
		<button type="reset">Cancel</button>
	</form>
</div>
<div id="linkarea" class="edit_ui" tabindex="0" style="flex-direction: column;">
	<select style="flex: 1;padding: 0;" size="20">
	</select>
	<form style="margin-inline-start: 0;margin-block-start: 1em;width: auto;">
		<label style="display: block;">URL:
			<input name="href" value="/" style="max-width: 100%;box-sizing: border-box;" type="text" />
		</label>
		<label style="display: block;">Open link in:
			<select name="target">
				<option value="">same tab</option>
				<option value="_blank">new tab</option>
			</select>
		</label>
		<button type="submit" disabled>Insert</button>
		<button type="reset">Cancel</button>
	</form>
</div>
<script type="text/javascript" src="{% static 'pageedit/pageedit.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/content/edit_dialogs.js' %}"></script>
