{% extends 'admin/change_form.html' %}
{% load static admin_urls i18n %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "pageedit/pageedit.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/content/edit_change_form.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "admin/content/edit_dialogs.css" %}">{% endblock %}

{% block object-tools %}
{% if change %}{% if not is_popup %}
	<ul class="object-tools">
		{% block object-tools-items %}
		<li>
				{% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
				<a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "Versions" %}</a>
		</li>
		{% if has_absolute_url %}<li><a href="{{ absolute_url }}" target="_blank" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
		{% endblock %}
	</ul>
{% endif %}{% endif %}
{% endblock %}

{% block footer %}
{% include 'admin/content/edit_dialogs.html' %}
<script type="text/javascript" src="{% static "admin/content/edit_change_form.js" %}"></script>
{{ block.super }}
{% endblock %}
