{% extends "admin/content/file_browser.html" %}
{% load static thumbnail %}

{% block display %}
	<table style="border-top: 1px #eee solid;">
		<tr>
			<td>
	{% for f in files %}
		<div class="image">
			<input class="action-select" name="_selected_action" value="{{ f.name }}" type="checkbox">
			{% if f.path|slice:"-4:"|lower == ".svg" %}
				<a href="{{ MEDIA_URL }}{{ f.path }}"><img src="{{ MEDIA_URL }}{{ f.path }}" /></a>
			{% else %}
				{% with thumb=f.path|thumbnailer_passive %}
					{% with thumb_src=thumb.thumb %}
						{% if thumb_src %}
							<a href="{{ MEDIA_URL }}{{ f.path }}"><img src="{{ MEDIA_URL }}{{ thumb_src }}" /></a>
						{% else %}
							<a href="{{ MEDIA_URL }}{{ f.path }}"><img data-src="{{ f.path }}" /></a>
						{% endif %}
					{% endwith %}
				{% endwith %}
			{% endif %}
			<div class="name">{{ f.name }}</div>
			<div class="size">{{ f.size | filesizeformat }}</div>
			<div class="date">{{ f.mtime | date }}</div class="date">
		</div>
	{% endfor %}
			</td>
		</tr>
	</table>
	<script type="text/javascript">

	function load_next_thumb() {
		var next = document.querySelector('div.image img:not([src])');
		if (next) {
			var name = next.dataset.src.substring(7); // length of '/media/'
			next.onload = load_next_thumb;
			next.src = '/admin/content/get_thumbnail?f=images/' + encodeURIComponent(name) + '&s=thumb';
		}
	}
	load_next_thumb();

	</script>
{% endblock %}
