{% extends 'admin/change_list.html' %}

{% block footer %}
{{ block.super }}
<label id="move-me">
<select name="action-template" style="margin: 0 5px; display: none;">
{% for name in template_names %}
	<option value="{{ name }}">{{ name }}</li>
{% endfor %}
</select>
<select name="action-status" style="margin: 0 5px; display: none;">
{% for value, name in statuses %}
	<option value="{{ value }}">{{ name | lower }}</li>
{% endfor %}
</select>
</label>
<script type="text/javascript">
(function() {
	var before = document.querySelector('#changelist-form .actions > label + *');
	var node = document.querySelector('#move-me')
	before.parentNode.insertBefore(node, before);

	document.querySelector('select[name="action"]').onchange = function() {
		document.querySelector('select[name="action-template"]').style.display = (this.value == 'change_template') ? null : 'none';
		document.querySelector('select[name="action-status"]').style.display = (this.value == 'change_status') ? null : 'none';
	}
})();
</script>
{% endblock %}
