{% extends "admin/object_history.html" %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ module_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
&rsaquo; {% trans 'Versions' %}
</div>
{% endblock %}

{% block content %}
{% block object-tools %}
<ul class="object-tools">
	<li>
		{% url opts|admin_urlname:'change' object.pk|admin_urlquote as history_url %}
		<a href="{% add_preserved_filters history_url %}" class="changelink">{% trans "Change" %}</a>
	</li>
	{% if previous_revision %}
		<li><a href="?revision={{ previous_revision.pk }}">Previous revision</a></li>
	{% endif %}
	{% if next_revision %}
		<li><a href="?revision={{ next_revision.pk }}">Next revision</a></li>
	{% endif %}
	<li><a
	{% if this_version %}
		href="{{ this_version.get_absolute_url }}"
	{% else %}
		href="{{ object.get_absolute_url }}"
	{% endif %}
	target="_blank" class="viewsitelink">{% trans "View on site" %}</a></li>
</ul>
{% endblock %}

{% if this_version %}
<ul>
<style type="text/css">
table {
	width: 100%;
}
td:nth-of-type(3n+1),
td:nth-of-type(3n+2) {
	display: none;
}
td:nth-of-type(3n) {
	width: 50%;
}
.diff_add, .diff_sub, .diff_chg {
	padding-inline-start: 2px;
	padding-inline-end: 2px;
	border-radius: 2px;
}
.diff_add {
	background-color: #9f9;
}
.diff_sub {
	background-color: #f99;
}
.diff_chg {
	background-color: #ff8;
}
</style>
<div>
	<h3>{{ this_version.modified }} by {{ this_version.modifier }} [{{ this_version.type }}]</h3>
	{{ this_version.diff | safe }}
</div>
</ul>
{% else %}
	{% for item in object.draft_set %}
		{% if forloop.first %}
		<h2>Drafts</h2>
		<ul>{% endif %}
		<li><a href="{{ item.get_admin_url }}">{{ item.modified }} by {{ item.modifier }} [{{ item.type }}]</a></li>
		{% if forloop.last %}</ul>{% endif %}
	{% endfor %}
	{% for item in object.future_set %}
		{% if forloop.first %}
		<h2>Future</h2>
		<ul>{% endif %}
		<li><a href="{{ item.get_admin_url }}">{{ item.modified }} by {{ item.modifier }} [{{ item.type }}]</a></li>
		{% if forloop.last %}</ul>{% endif %}
	{% endfor %}
	{% for item in object.history_set %}
		{% if forloop.first %}
		<h2>History</h2>
		<ul>{% endif %}
		<li><a href="{{ item.get_admin_url }}">{{ item.modified }} by {{ item.modifier }} [{{ item.type }}]</a></li>
		{% if forloop.last %}</ul>{% endif %}
	{% endfor %}
{% endif %}
{% endblock %}
