{% extends "admin/object_history.html" %}
{% load i18n admin_urls %}

{% block content %}
{% block object-tools %}
<ul class="object-tools">
	<li>
		{% url opts|admin_urlname:'change' object.pk|admin_urlquote as history_url %}
		<a href="{% add_preserved_filters history_url %}" class="changelink">{% trans "Change" %}</a>
	</li>
	{% if previous_revision %}
		<li><a href="?revision={{ previous_revision.pk }}">Previous revision</a></li>
	{% endif %}
	{% if next_revision %}
		<li><a href="?revision={{ next_revision.pk }}">Next revision</a></li>
	{% endif %}
	<li><a href="{{ view_on_site_url }}" target="_blank" class="viewsitelink">{% trans "View on site" %}</a></li>
</ul>
{% endblock %}

<ul>
<style type="text/css">
table {
	width: 100%;
}
td:nth-of-type(3n+1),
td:nth-of-type(3n+2) {
	display: none;
}
td:nth-of-type(3n) {
	width: 50%;
}
.diff_add, .diff_sub, .diff_chg {
	padding-inline-start: 2px;
	padding-inline-end: 2px;
	border-radius: 2px;
}
.diff_add {
	background-color: #9f9;
}
.diff_sub {
	background-color: #f99;
}
.diff_chg {
	background-color: #ff8;
}
</style>
{% for ph in history %}
<div>
	<h3><a href="?revision={{ ph.pk }}">{{ ph.modified }} by {{ ph.modifier }}</a></h3>
	{{ ph.diff | safe }}
</div>
{% endfor %}
</ul>
{% endblock %}
