{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<style type="text/css" scoped>
#site-name {
	display: inline-block;
}
#omgnav {
	display: inline-block;
	margin: 0;
	padding: 0;
}
#omgnav span,
#omgnav a {
	display: block;
	padding: 2px 5px;
	cursor: pointer;
}
#omgnav > li {
	display: inline-block;
	font-size: 14px;
	list-style: none;
}
#omgnav > li:hover span {
	background-color: #79aec8;
	box-shadow: 0 0 2px #0008;
}
#omgnav > li ul {
	position: absolute;
	display: none;
	background-color: #79aec8;
	padding: 0;
	margin: 0;
	box-shadow: 0 0 2px #0008;
}
#omgnav > li:hover ul {
	display: block !important;
}
#omgnav ul li {
	font-size: 14px;
	list-style: none;
}
</style>
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>

{% spaceless %}<ul id="omgnav">
{% for app in available_apps %}
	<li>
	<span>{{ app.name }}</span>
	<ul>
	{% for model in app.models %}
		<li><a href="{{ model.admin_url }}">{{ model.name }}</a></li>
	{% endfor %}
	</ul>
	</li>
{% endfor %}
</ul>{% endspaceless %}
{% endblock %}
