#id_content {
	width: 100%;
	height: 80vh;
	box-sizing: border-box;
}
#richarea {
	border: 1px #ccc solid;
	width: 100%;
	height: 80vh;
	box-sizing: border-box;
}
#imageareabg {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.25);
}
#imagearea {
	display: none;
	position: fixed;
	top: 50px;
	left: 50px;
	right: 50px;
	max-height: calc(100% - 100px);
	padding: 15px;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow: 0 0 50px;
	z-index: 100;
	overflow: auto;
}
#imagearea div.image {
	display: inline-block;
	width: 120px;
	margin: 5px;
	text-align: center;
	line-height: 0;
	vertical-align: middle;
}
#imagearea div.image img {
	max-width: 120px;
	max-height: 96px;
}
#imagearea form {
	width: 190px;
	margin-inline-start: 15px;
	font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #333;
	padding: 12px 14px;
	background: #f8f8f8;
	border: 1px solid #eee;
	border-radius: 4px;
	text-align: right;
	box-sizing: border-box;
}
#imagearea input {
	margin: 0;
	vertical-align: middle;
	font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
	font-weight: normal;
	font-size: 13px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px 6px;
	text-align: center;
}
#imagearea button {
	font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
	font-weight: normal;
	font-size: 13px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0 -15px 20px -10px #0003 inset;
	cursor: pointer;
	height: 24px;
	line-height: 1;
	padding: 4px 8px;
	margin: 0;
	color: #333;
}
#linkarea {
	display: none;
	position: fixed;
	top: 50px;
	left: 50%;
	transform: translate(-50%);
	width: 810px;
	padding: 15px;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow: 0 0 50px;
	z-index: 100;
	max-height: calc(100% - 100px);
	overflow: auto;
}
