{% extends "admin/base_site.html" %}
{% load admin_urls i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='layout' %}">Layout</a>
&rsaquo; <a href="{% url 'admin:layoutfile_list' file_type=file_type %}">{{ file_type_name_plural }}</a>
&rsaquo; {{ file_name }}
</div>
{% endblock %}


{% block content %}
<div id="content-main">
	<form action="" method="post">
		{% csrf_token %}
		{% if file_name %}<input type="hidden" name="file_name" value="{{ file_name }}" />{% endif %}
		<fieldset class="module aligned">
			{% if not file_name %}<div class="form-row field-name">
				<div>
					<label class="required" for="file_name">Name:</label>
					<input class="vTextField" id="file_name" maxlength="32" name="file_name" required type="text" pattern="[-\w]+\.{% if file_type == 'css' %}css{% else %}html{% endif %}">
				</div>
			</div>{% endif %}
			<div class="form-row field-content">
				<div>
					<label class="required" for="file_content">Content:</label>
					<textarea class="vLargeTextField" cols="40" id="file_content" name="file_content" rows="10">{{ file_content }}</textarea>
				</div>
			</div>
		</fieldset>
		<div class="submit-row">
			<input type="submit" class="default" name="_continue" value="Save and continue editing" />
			<input type="submit" name="_return" value="Save and return" />
		</div>
	</form>

</div>
{% endblock %}

{% block footer %}
{{ block.super }}
<script type="text/javascript">
document.querySelector('textarea').onkeydown = function(event) {
	if (event.keyCode == 9 && !event.shiftKey && !event.ctrlKey) { // KeyEvent.DOM_VK_TAB
		event.preventDefault();
		var s = this.selectionStart;
		var e = this.selectionEnd;
		this.value = this.value.substring(0, s) + '\t' + this.value.substring(e);
		this.selectionStart = this.selectionEnd = s + 1;
	}
};
</script>
{% endblock %}
